.portfolio__section {
    min-height: 1100px;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    align-content: center;
    max-width: 80%;
}

.portfolio__container h3 {
    padding: 1rem;
}

.portfolio__item {
    background-color: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    overflow: hidden;
    border-radius: 1.5em;
}