header {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
}

.header__image img {
    max-width: 600px;
}

.header__info {
    max-width: 600px;
}